@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import './variables.scss';

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

// #room-container {
//   border: 1px dashed $red;
// }

.room-tab {
  margin-bottom: 2vh;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: $primary-color;
  font-weight: bold;
}
