@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import './variables.scss';

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.fromElse {
  background: #ccc;
}

.fromYou {
  background: #fff;
}
.statusMsg {
  background: rgba(255, 9, 9, 0.616);
}
