@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

#message-container {
  width: 80%;
  max-width: 1200px;
  font-size: 4rem;
}

.fromElse {
  background: #ccc;
  padding: 5px;
}

.fromYou {
  background: #fff;
}
.statusMsg {
  background: rgba(255, 9, 9, 0.616);
}
#send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 1200px;
  width: 80%;
  display: flex;
}

#message-input {
  flex-grow: 1;
  height: 12vh;
  max-width: 70vw;
  font-size: 4rem;
}
#send-button {
  width: 14vh;
  font-size: 4rem;
  font-size: 4vmin;
}
